/* General */
.container {
	width: 80%;
	padding: 30px;
	margin: 50px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px blue;
}
.container label{
    user-select: none;
}
/* enb General */

/* grid blocks */
.dateTimeBlock{
    grid-column: 1 / span 6;
    grid-row: 1; 
}
.customerBlock{
    grid-column: 7 / span 6;
    grid-row: 1; 
}
.productParentDivBlock{

    grid-column: 1 / span 12;
    grid-row: 2; 
}
.addProductButtonBlock{

    grid-column: 1 / span 12;
    grid-row: 3; 
}
.invoiceValueBlock{

    grid-column: 1 / span 12;
    grid-row: 4; 
}
.saveButtonBlock{

    grid-column: 1 / span 12;
    grid-row: 5; 
}
/* end grid blocks*/

/* for all blocks */
input[type="date"], 
input[type="time"],
input[type="text"],
input[type="number"]
{
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10px 0px ;
}
.dateTimeBlock label,
.customerBlock label{
    display: inline-block;
    width: 90px;
}

/* end for all blocks */

/* dataTimeBlock */
.dateTimeBlock input{
    width: 65%;
}
/* end dateTimeBlock */

/* customerBlock */
.customerBlock input[type="text"]{
    width: 65%;
}
/* end customerBlock */

/* customerCheckBoxes */
.customerCheckBoxes{
    margin: 10px 0px;
}
/* end customerCheckBoxes */

/* productParentDivBlock */
.productParentDivBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.productParentDivBlock > div{
    border: 1px solid blue;
    border-radius: 10px;
    margin: 10px 5px ;
    padding: 10px;
}

.productParentDivBlock > div:not(:first-child){
    display: flex;
    flex-direction: column;
    width: 30%;
}
.productParentDivBlock > div img{
    margin: 0px auto;
    width: 200px;
    border-radius: 5px;
}
.productParentDivBlock .removeProductButton{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    margin: 10px auto;
}
/* end productParentDivBlock */

/* addProductButtonBlock & saveButtonBlock*/
.addProductButtonBlock button,
.saveButtonBlock input{
    background-color: blue;
    color: white ; 
    width: 100px ;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.saveButtonBlock input{
    font-size: 13pt;
    height: 40px;
}
/* end addProductButtonBlock & saveButtonBlock*/

/* invoiceValueBlock */
.invoiceValueBlock p{
    font-size: 13pt;
    font-weight: bold;
}
/* invoiceValueBlock */


/* error & ok */
.error , .ok {
    color: white;
    margin: 15px auto;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 13pt;
}
.error{
    background-color: red;
}
.ok{
    background-color: green;
}
/* end error & ok */


/* media query */
@media only screen and (max-width:840px) {
    /* grid blocks */
    .dateTimeBlock{
        grid-column: 1 / span 12;
        grid-row: 1; 
    }
    .customerBlock{
        grid-column: 1 / span 12;
        grid-row: 2; 
    }
    .productParentDivBlock{
        grid-row: 3; 
    }
    .addProductButtonBlock{
        align-content: center;
        grid-row: 4; 
    }
    .invoiceValueBlock{
        grid-row: 5; 
    }
    .saveButtonBlock{
        grid-row: 6; 
    }
    /* end grid blocks*/ 
   
    /* inputs */
    input[type="date"], 
    input[type="time"],
    input[type="text"],
    input[type="number"]{
        width: 80% !important;
    }
    .productParentDivBlock > div{
        width: 100% !important;
    }
    /* end inputs */
    
}

/* end media query */