.container {
    margin: 50px;
}
.addProductDiv{
    padding: 20px;
}
.addProductDiv a{
    display: inline-block;
    padding: 10px;
    margin-left: 40px;
    text-decoration: none;
    background-color: blue;
    color: white; 
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}
.addProductDiv .category{
    display: inline-block;    
    width: 25%;
}
.addProductDiv .category select{
    border: 1px solid blue;
    border-radius: 5px;
    height: 40px;
    margin-right: 30px;
    width: 70%;
}
.productsDiv {
    flex-wrap: wrap;
    justify-content: center; 
}
.productsDiv > div {    
    position: relative;
    width: 200px;
    height: 340px;
    padding: 5px;
    margin: 20px ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px blue;    
}
.productsDiv img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}
.price{
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 5px;
}
.outOfStock{
    color: red;
    font-weight: bold;
}
.productDataDiv{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.productDataDiv a ,
.deleteButton {
    display: inline;
    cursor: pointer;
    text-decoration: none;
    margin: 0px 30px;
}
.productDataDiv a img {
    width: 30px;
    height: 55px;
}
.deleteButton img{
    width: 30px;
    height: 55px;
}
@media only screen and (max-width:480px){
    .container {
        margin: 10px;
    }
    .product {
       height: 400px !important;
    }
    .productDataDiv{
        position: initial;
    }
    .productsDiv > div{
        width: 100%;
        position: initial !important;
    }

    
}