.readOnly{
    background-color: rgba(173, 216, 230,0.3);
}
.deleteButton{
    background-color: red;
    border: 1px solid red;
    color:white;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    margin: 20px auto;    
}