/* 
screens sizes
    320px
    480px * 
    600px  
    768px *
    900px
    1024px * >
    1200px 
*/

/* ### Container ### */
/* search section */
.container {
    width: 90%;
    padding: 30px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px blue;
}
.searchFor{
    display: grid;
    grid-column: 4 / span 3; 
}
.searchBy{
    display: grid ; 
    grid-column: 7 / span 3; 
}
.searchBy select{
    width: initial;
}
.searchBy select , .searchFor select {
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}
.search{
    display: grid; 
    grid-column: 3 / span 8;
    grid-row: 2;
}
.searchBox{
    width: 100%;
    margin: 25px 0px;
}
.search input[type="text"]{
    width:90%;
    border: 1px solid blue;
    border-radius: 5px;
    height: 30px;
    
}
.search button{
    margin-right: -10%;
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
.search svg{
    width: 25px;
    height: 25px;
    position: sticky;
}
.searchBy label , .searchFor label{
    margin-left: 10px;
}
.ok{
    color: white ;
    background-color: green;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0px;
}

@media only screen and (max-width:768px){
    .searchFor{
        grid-column: 1 / span 6 ;

    }
    .searchBy{
        grid-column: 7 / span 6 ;

    }
    .search button{
        margin-right: -15%;
    }
    .container {
        width : 85%
    }
}
@media only screen and (max-width:480px){
    .search{
        grid-column: 1 / span 12;
    }
    .searchFor{
        grid-column: 1 / span 6 ;

    }
    .searchBy{
        grid-column: 7 / span 6 ;

    }
    .search button{
        margin-right: -14%;
    }
    .searchBy select , .searchFor select{
        width: 90%;
    }
    .container {
        width : 75%;
        margin: 20px auto !important;
    }

}
/* end search Section */

/* result secion  */
.noResult{
    display: block;
    text-align: center;
    margin: 10px auto ;
}
.results{
    overflow: scroll;
    max-height: 400px;
    min-height: 100px;
}
.results table {
    min-width: 1000px;
    width: 100%; 
}
.results thead{
    background-color: lightblue;
    position: sticky;
    top:0px;
}
.results td{
    border-bottom: 1px solid blue;
    text-align: center;
    white-space: pre;
}
.inTableIcon{
    width:30px; 
}
/* end result section */

/* result for product section */
.addProductDiv{
    padding: 20px;
}
.addProductDiv a{
    display: inline-block;
    padding: 10px;
    margin-left: 40px;
    text-decoration: none;
    background-color: blue;
    color: white; 
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}
.addProductDiv .category{
    display: inline-block;    
    width: 25%;
}
.addProductDiv .category select{
    border: 1px solid blue;
    border-radius: 5px;
    height: 40px;
    margin-right: 30px;
    width: 70%;
}
.productsDiv {
    flex-wrap: wrap;
    justify-content: center; 
}
.productsDiv > div {    
    position: relative;
    width: 200px;
    height: 340px;
    padding: 5px;
    margin: 20px ;
    border-radius: 10px;
    box-shadow: 0px 0px 10px blue;    
}
.productsDiv img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}
.price{
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 5px;
}
.outOfStock{
    color: red;
    font-weight: bold;
}
.productDataDiv{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.productDataDiv a ,

.productDataDiv a img {
    width: 30px;
    height: 55px;
}

@media only screen and (max-width:480px){
    .container {
        margin: 10px;
    }
    .product {
       height: 400px !important;
    }
    .productDataDiv{
        position: initial;
    }
    .productsDiv > div{
        width: 100%;
        position: initial !important;
    }

    
}
/* end result for product section */

/* ################ */